<div class="form-group">
  <label for="recipient">To</label>
  <my-tokenfield
    tokens={{message.recipients}}
    tokensChanged={{action (mut message.recipients)}}
    as |recipient|>
    <img src="http://lorempixel.com/20/20/">
    {{recipient}}
  </my-tokenfield>

  <ul>
    {{#each message.recipients as |r|}}
      <li>{{r}}</li>
    {{/each}}
  </ul>
  <button {{action 'addAnother'}}>Add Another</button>
</div>
<div class="form-group">
  <label for="body">Message</label>
  {{textarea value=body id="body" class="form-control" rows=3}}
</div>

<div class="form-group">
  <button {{action "send"}} type="submit" class="btn btn-default">Submit</button>
</div>

{{markdown-preview text=body}}
