{{#with model as |article|}}
<div class="article-header">
  <div class="article-cover masthead"><img src={{article.imageUrl}} class="cover-image" alt="alt goes here"></div>
  <div class="source-promo">
    <a class="image-container" href="" title="">
      <img src={{article.author.pictureUrl}} class="image" alt="{{article.author.firstName}} {{article.author.lastName}}" width="80" height="80">
    </a>
    <div class="content">
      <h2 class="title">
        <a class="name" href title rel="author">
          <span>{{article.author.firstName}} {{article.author.lastName}}</span>
        </a>
      </h2>
    </div>
  </div>
</div>

<div class="article-content">
  <h1 class="article-title">{{article.title}}</h1>
  <div class="article-meta">
    <div class="pub-date">{{format-date article.publishedAt}}</div>
  </div>
  <div class="article-body">
    <p>{{article.articleContent}}</p>
  </div>
</div>
{{/with}}
